Package: com.noisyflake.magmapro
Name: Magma Pro
Depends: mobilesubstrate, firmware (>= 11.0), org.thebigboss.libcolorpicker
Conflicts: com.noisyflake.magma
Version: 1.4.0
Architecture: iphoneos-arm
Description: Colorize your Control Center
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
