Package: com.noisyflake.magmapro
Name: Magma Pro
Depends: mobilesubstrate, firmware (>= 12.0), me.nepeta.libcolorpicker
Conflicts: com.noisyflake.magma
Version: 1.0.0
Architecture: iphoneos-arm
Description: Colorize your Control Center
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
