<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>appLauncher</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Color</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
    </array>

    <key>title</key>
    <string></string>
</dict>
</plist>
