<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabled</key>
	<true/>

	<key>enableConnectivity</key>
	<true/>

	<key>invertConnectivity</key>
	<true/>

	<key>toggleAirDrop</key>
	<string>#007AFF:1.00</string>
	<key>toggleAirplaneMode</key>
	<string>#FF9500:1.00</string>
	<key>toggleBluetooth</key>
	<string>#007AFF:1.00</string>
	<key>toggleCellularData</key>
	<string>#4CD964:1.00</string>
	<key>toggleHotspot</key>
	<string>#4CD964:1.00</string>
	<key>toggleWiFi</key>
	<string>#007AFF:1.00</string>

	<key>removeConnectivityBackground</key>
	<false/>

	<key>toggleAirDrop_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>toggleAirplaneMode_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>toggleBluetooth_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>toggleCellularData_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>toggleHotspot_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>toggleWiFi_inactive</key>
	<string>#FFFFFF:1.00</string>

	<key>invertToggles</key>
	<false/>
	<key>removeToggleBackground</key>
	<false/>

	<key>enabledTogglesGlobal</key>
	<string>#FFFFFF:0.00</string>
	<key>CCUIOrientationLockModule</key>
	<string>#FF5A63:1.00</string>
	<key>DNDUIControlCenterModule</key>
	<string>#5E67D6:1.00</string>
	<key>CCUICarModeModule</key>
	<string>#5E67D6:1.00</string>
	<key>CCUILowPowerModule</key>
	<string>#FFCC00:1.00</string>
	<key>RPControlCenterModuleViewController</key>
	<string>#FF0000:1.00</string>
	<key>CCUIFlashlightModuleViewController</key>
	<string>#007AFF:1.00</string>
	<key>MPAVAirPlayMirroringMenuModuleViewController</key>
	<string>#007AFF:1.00</string>
	<key>LocationModule</key>
	<string>#003EFF:1.00</string>
	<key>MTCCTimerViewController</key>
	<string>#FF9500:1.00</string>
	<key>CCUIMuteModule</key>
	<string>#FF0000:1.00</string>
	<key>CCVPNModule</key>
	<string>#003EFF:1.00</string>
	<key>WatusiDeliveryReceipts</key>
	<string>#007AFF:1.00</string>
	<key>WatusiLastSeen</key>
	<string>#007AFF:1.00</string>
	<key>WatusiReadReceipts</key>
	<string>#007AFF:1.00</string>
	<key>AutoLock</key>
	<string>#36ACCC:1.00</string>
	<key>CCVibrationModule</key>
	<string>#FF0000:1.00</string>
	<key>XBReduceWhiteModule</key>
	<string>#78A3D4:1.00</string>

	<key>disabledTogglesGlobal</key>
	<string>#FFFFFF:0.00</string>
	<key>CCUIOrientationLockModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>DNDUIControlCenterModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>CCUICarModeModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>CCUILowPowerModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>RPControlCenterModuleViewController_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>CCUIFlashlightModuleViewController_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>MPAVAirPlayMirroringMenuModuleViewController_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>LocationModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>MTCCTimerViewController_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>CCUIMuteModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>CCVPNModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>WatusiDeliveryReceipts_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>WatusiLastSeen_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>WatusiReadReceipts_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>AutoLock_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>CCVibrationModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>XBReduceWhiteModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>RespringModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>LockModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>RebootModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>SafeModeModule_inactive</key>
	<string>#FFFFFF:1.00</string>
	<key>UICacheModule_inactive</key>
	<string>#FFFFFF:1.00</string>

	<key>enableSliders</key>
	<true/>
	<key>sliderBrightness</key>
	<string>#FFFFFF:0.00</string>
	<key>sliderVolume</key>
	<string>#FFFFFF:0.00</string>
	<key>sliderCCRinger</key>
	<string>#FFFFFF:0.00</string>
	<key>sliderBrightnessGlyph</key>
	<string>#FFFFFF:0.00</string>
	<key>sliderVolumeGlyph</key>
	<string>#FFFFFF:0.00</string>
	<key>sliderCCRingerGlyph</key>
	<string>#FFFFFF:0.00</string>

	<key>enableMediaControls</key>
	<true/>
	<key>mediaControlsLeftButton</key>
	<string>#FFFFFF:1.00</string>
	<key>mediaControlsMiddleButton</key>
	<string>#FFFFFF:1.00</string>
	<key>mediaControlsRightButton</key>
	<string>#FFFFFF:1.00</string>
	<key>mediaControlsPrimaryLabel</key>
	<string>#FFFFFF:1.00</string>
	<key>mediaControlsSecondaryLabel</key>
	<string>#FFFFFF:1.00</string>
</dict>
</plist>
