<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>All Toggles</string>
            <key>footerText</key>               <string>This will override all other colors if Alpha is greater than 0</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>disabledTogglesGlobal</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Global Color</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>

        <dict>
			<key>cell</key> 					<string>PSGroupCell</string>
			<key>label</key> 					<string>Stock Toggles</string>
		</dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>AXCCShortcutModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Accessibility Shortcuts</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>MPAVAirPlayMirroringMenuModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>AirPlay</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCUIButtonModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Apple TV Remote</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>DNDUIControlCenterModule_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Do Not Disturb</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>CCUICarModeModule_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Do Not Disturb (Car Mode)</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCUIFlashlightModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Flashlight</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>AXCCGuidedAccessModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Guided Access</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>HACCIconViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Hearing</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>CCUILowPowerModule_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Low Power Mode</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>RPControlCenterModuleViewController_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Recording</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCUIOrientationLockModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Rotation Lock</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>MTCCTimerViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Timer</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>

        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Third-Party Toggles</string>
        </dict>
    </array>

    <key>title</key>
    <string>Modules (Disabled)</string>
</dict>
</plist>
