<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>All Toggles</string>
            <key>footerText</key>               <string>This will override all other colors if Alpha is greater than 0</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>disabledTogglesGlobal</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Global Color</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>

        <dict>
			<key>cell</key> 					<string>PSGroupCell</string>
			<key>label</key> 					<string>Stock Toggles</string>
		</dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>MPAVAirPlayMirroringMenuModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>AirPlay</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>DNDUIControlCenterModule_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Do Not Disturb</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>CCUICarModeModule_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Do Not Disturb (Car Mode)</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCUIFlashlightModuleViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Flashlight</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>CCUILowPowerModule_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Low Power Mode</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>            			<string>PSLinkCell</string>
            <key>cellClass</key>            	<string>MagmaColorPickerCell</string>
            <key>defaults</key>					<string>com.noisyflake.magmapro</string>
            <key>key</key>            			<string>RPControlCenterModuleViewController_inactive</string>
            <key>alpha</key>            		<true/>
            <key>label</key>            		<string>Recording</string>
            <key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCUIOrientationLockModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Rotation Lock</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>MTCCTimerViewController_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Timer</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>

        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Third-Party Toggles</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>AutoLock_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Auto Lock</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>LocationModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Location Services</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>LockModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Lock Device</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCUIMuteModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Mute</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>RebootModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Reboot</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>XBReduceWhiteModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Reduce White Point</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>RespringModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Respring</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>SafeModeModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Safe Mode</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>UICacheModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>UI Cache</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCVibrationModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Vibration</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>CCVPNModule_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>VPN</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>WatusiDeliveryReceipts_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Watusi Delivery Receipts</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>WatusiLastSeen_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Watusi Last Seen</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>cellClass</key>                <string>MagmaColorPickerCell</string>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>WatusiReadReceipts_inactive</string>
            <key>alpha</key>                    <true/>
            <key>label</key>                    <string>Watusi Read Receipts</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
</array>

    <key>title</key>
    <string>Toggles (Disabled)</string>
</dict>
</plist>
