<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>						<string>PSGroupCell</string>
			<key>footerCellClass</key>			<string>MagmaLogo</string>
 		</dict>

 		<dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>footerText</key>               <string>Changing this option requires a respring</string>
        </dict>
		<dict>
			<key>cell</key>						<string>PSSwitchCell</string>
			<key>default</key>					<true/>
			<key>defaults</key>					<string>com.noisyflake.magmapro</string>
			<key>key</key>						<string>enabled</string>
			<key>label</key>					<string>Enable Tweak</string>
			<key>PostNotification</key> 		<string>com.noisyflake.magmapro/prefsupdated</string>
		</dict>

        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Connectivity Toggles</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSSwitchCell</string>
            <key>default</key>                  <true/>
            <key>defaults</key>                 <string>com.noisyflake.magmapro</string>
            <key>key</key>                      <string>enableConnectivity</string>
            <key>label</key>                    <string>Enable</string>
            <key>PostNotification</key>         <string>com.noisyflake.magmapro/prefsupdated</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>isController</key>             <true/>
            <key>detail</key>                   <string>MagmaEnabledConnectivity</string>
            <key>label</key>                    <string>Enabled State</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>isController</key>             <true/>
            <key>detail</key>                   <string>MagmaDisabledConnectivity</string>
            <key>label</key>                    <string>Disabled State</string>
        </dict>

        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Other Toggles</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>isController</key>             <true/>
            <key>detail</key>                   <string>MagmaEnabledToggles</string>
            <key>label</key>                    <string>Enabled State</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>isController</key>             <true/>
            <key>detail</key>                   <string>MagmaDisabledToggles</string>
            <key>label</key>                    <string>Disabled State</string>
        </dict>

        <dict>
            <key>cell</key>                     <string>PSGroupCell</string>
            <key>label</key>                    <string>Miscellaneous</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>label</key>                    <string>Application Launchers</string>
            <key>bundle</key>                   <string>AppList</string>
            <key>isController</key>             <true/>
            <key>ALAllowsSelection</key>        <true/>
            <key>ALSectionDescriptors</key>     <array>
                <dict>
                    <key>cell</key>                     <string>PSLinkCell</string>
                    <key>predicate</key>                <string>isSystemApplication = FALSE OR isSystemApplication = YES</string>
                    <key>suppress-hidden-apps</key>     <true/>
                    <key>cell-class-name</key>          <string>ALDisclosureIndicatedCell</string>
                    <key>icon-size</key>                <integer>29</integer>
                    <key>action</key>                   <string>showPreferences</string>
                    <key>display-identifier-macro</key> <string>@@DISPLAYIDENTIFIER@@</string>
                    <key>entry</key>
                    <dict>
                        <key>cell</key>                     <string>PSLinkCell</string>
                        <key>key</key>                      <string>AppColor-@@DISPLAYIDENTIFIER@@"</string>
                        <key>bundle</key>                   <string>AppList</string>
                        <key>detail</key>                   <string>MagmaAppLaunchers</string>
                        <key>label</key>                    <string>@@DISPLAYIDENTIFIER@@</string>
                        <key>isController</key>             <true/>
                        <key>overridePrincipalClass</key>   <true/>
                    </dict>
                </dict>
            </array>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>isController</key>             <true/>
            <key>detail</key>                   <string>MagmaMediaControls</string>
            <key>label</key>                    <string>Media Controls</string>
        </dict>
        <dict>
            <key>cell</key>                     <string>PSLinkCell</string>
            <key>isController</key>             <true/>
            <key>detail</key>                   <string>MagmaSliders</string>
            <key>label</key>                    <string>Sliders</string>
        </dict>

		<dict>
			<key>cell</key> 					<string>PSGroupCell</string>
			<key>label</key> 					<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key> 					<string>PSButtonCell</string>
			<key>action</key> 					<string>resetSettings</string>
			<key>label</key> 					<string>Reset All Settings</string>
		</dict>

		<dict>
			<key>cell</key> 					<string>PSGroupCell</string>
			<key>footerText</key> 				<string>Developed with ♥ by NoisyFlake</string>
			<key>footerAlignment</key> 			<string>1</string>
		</dict>


	</array>

	<key>title</key>
	<string></string>
</dict>
</plist>
